<div class="page-header">
  <div class="pull-right">
    <ul class="nav nav-pills">
      <li><a href="/assessments/<%=h @assessment.id %>/findings"><span class="glyphicon glyphicon-flag"></span> Findings</a></li>
      <li><a href="/assessments/<%=h @assessment.id %>/users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
      <li class="active"><a href="/assessments/<%=h @assessment.id %>/repositories"><span class="glyphicon glyphicon-book"></span> Repositories</a></li>
      <li><a href="/assessments/<%=h @assessment.id %>/compare"><span class="glyphicon glyphicon-eye-open"></span> Compare</a></li>
      <li><a href="/assessments/<%=h @assessment.id %>/false_positives"><span class="glyphicon"></span> False Positive</a></li>
    </ul>
  </div>
  <h1>Repositories</h1>
</div>

<table class="table table-striped table-hover table-condensed" id="repositories_table">
  <thead>
    <tr>
      <th class="repository-name">Name</th>
      <th class="repository-description">Description</th>
      <th class="repository-files">Files</th>
      <th class="repository-findings">Findings</th>
    </tr>
  </thead>
  <tbody>
    <% @repositories.each do |repo| %>
      <% if repo.findings_count > 0 %>
        <tr class="repository-row danger">
      <% else %>
        <tr class="repository-row">
      <% end %>
      <td class="repository-name"><a href="/repositories/<%=h repo.id %>"><%=h repo.full_name %></a></td>
      <td class="repository-description"><%=h repo.description %></td>
      <td class="repository-files center-text"><%=h repo.blobs_count %></td>
      <td class="repository-findings center-text"><%=h repo.findings_count %></td>
    <% end %>
  </tbody>
</table>
