<div class="page-header">
  <h1>Comparison <%=h @comparison.created_at.strftime("%Y-%m-%d %H:%M") %></h1>
</div>

<h2>New or modified files</h2>
<% if @blobs.count.zero? %>
  <div class="alert alert-info" role="alert"><strong>No new or modified files found.</strong></div>
<% else %>
  <table class="table table-striped table-hover table-condensed" id="blobs_table">
    <thead>
      <tr>
      <th colspan="2">
        <div class="pull-right">
          <input type="text" id="quick_filter" class="form-control input-sm quick-filter" placeholder="Quick filter...">
        </div>
        <label>
          <input type="checkbox" id="show_only_flagged_files"> Only show flagged files
        </label>
      </th>
      </tr>
      <tr>
        <th class="blob-path">Path</th>
        <th class="blob-repo">Repository</th>
        <th class="blob-size">Size</th>
      </tr>
    </thead>
    <tbody>
      <% @blobs.each do |blob| %>
        <% if blob.flags_count > 0 %>
          <tr class="danger blob-row">
        <% else %>
          <tr class="blob-row">
        <% end %>
          <td class="blob-path"><a href="/blobs/<%=h blob.id %>" class="blob-link" title="<%=h blob.flags.map(&:caption).join(' - ') %>" data-toggle="tooltip" data-placement="bottom"><%= format_path(blob.path) %></a></td>
          <td class="blob-repo"><a href="/repositories/<%=h blob.repository.id %>"><%=h blob.repository.full_name %></a></td>
          <td class="blob-size"><%= number_to_human_size(blob.size) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="modal fade" tabindex="-1" role="dialog" id="blob_modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" id="blob_modal_content">
        <div class="modal-body">
          <div class="center-text">
            <img src="/images/blob_spinner.gif" alt="Loading file..." title="Loading file..." />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h2>New repositories</h2>
<% if @repositories.count.zero? %>
  <div class="alert alert-info" role="alert"><strong>No new repositories found.</strong></div>
<% else %>
  <table class="table table-striped table-hover table-condensed" id="repositories_table">
    <thead>
      <tr>
        <th class="repository-name">Name</th>
        <th class="repository-description">Description</th>
        <th class="repository-files">Files</th>
        <th class="repository-findings">Findings</th>
      </tr>
    </thead>
    <tbody>
      <% @repositories.each do |repo| %>
        <% if repo.findings_count > 0 %>
          <tr class="repository-row danger">
        <% else %>
          <tr class="repository-row">
        <% end %>
        <td class="repository-name"><a href="/repositories/<%=h repo.id %>"><%=h repo.full_name %></a></td>
        <td class="repository-description"><%=h repo.description %></td>
        <td class="repository-files center-text"><%=h repo.blobs_count %></td>
        <td class="repository-findings center-text"><%=h repo.findings_count %></td>
      <% end %>
    </tbody>
  </table>
<% end %>

<h2>New users</h2>
<% if @owners.count.zero? %>
  <div class="alert alert-info" role="alert"><strong>No new users found.</strong></div>
<% else %>
  <% @owners.each_slice(4) do |owners| %>
    <div class="row">
      <% owners.each do |owner| %>
        <div class="col-md-3 center-text">
          <div class="owner" data-href="/users/<%=h owner.id %>">
            <img src="<%=h owner.avatar_url %>" class="img-rounded owner-avatar" alt="<%=h owner.name %>" />
            <span class="owner-name"><%=h owner.name || owner.login %></span>
            <div class="owner-counts">
              <span class="label label-default" title="Repositories" data-toggle="tooltip" data-placement="bottom"><span class="glyphicon glyphicon-book"></span> <%=h owner.repositories_count %></span>
              <span class="label label-default" title="Files" data-toggle="tooltip" data-placement="bottom"><span class="glyphicon glyphicon-file"></span> <%=h owner.blobs_count %></span>
              <% if owner.findings_count > 0 %>
                <span class="label label-danger" title="Flagged files" data-toggle="tooltip" data-placement="bottom"><span class="glyphicon glyphicon-flag"></span> <%=h owner.findings_count %></span>
              <% else %>
                <span class="label label-default" title="Flagged files" data-toggle="tooltip" data-placement="bottom"><span class="glyphicon glyphicon-flag"></span> <%=h owner.findings_count %></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="modal fade" tabindex="-1" role="dialog" id="user_modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div id="user_modal_content"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
